<!--
ABOUT
Author: Adam Kerns
Co-Author: Owen Hartzell 801188721 ohartzel@charlotte.edu
For: ITSC 3155, Software Engineering, Fall 2024
Project: Final Project - Group 9, "CareerSift"
-->

{% include "navbar.html" %}
        <ul class="bios">
            <li class="Adam">
                <img class="headshot" src="/static/AdamPic.png" alt="Picture of Adam Kerns">
                <p>Hey all! My name is Adam Kerns and
                    I am a senior studying Math and Computer Science with a concentration in AI, Robotics, and Gaming at UNCC. I love working on projects like this, a small team where there is more creative freedom, as well as larger groups for projects! This has been a very enjoyable project to work on with my team!</p>
                <a href="https://www.linkedin.com/in/adam-kerns-adam" target="_blank"><img class="linkedin" src="/static/linkedin.svg" alt="linkedin"></a>
            </li>
            <li class="Jake">
                <img class="headshot" src="/static/JakePic.jpg" alt="Picture of Jake Gilbert">
                <p>Hello! My name is James Gilbert 
                    and I am a senior studying Computer 
                    Science with a concentration in 
                    Systems and Networks at UNCC.  
                    I have done data engineering, game 
                    development, software engineering, 
                    and work with servers. I'm excited to 
                    show you our latest project, CareerSift! 
                    I hope you all enjoy our software!</p>
                <a href="https://www.linkedin.com/in/james-gilbert-2a79b1265/" target="_blank"><img class="linkedin" src="/static/linkedin.svg" alt="linkedin"></a>
            </li>
            <li class="Owen">
                <img class="headshot" src="/static/OwenPic.jpeg" alt="Picture of Owen Hartzell">
                <p>Hi, my name is Owen Hartzell and 
                    I am a senior studying Computer 
                    Science with a concentration in 
                    Cybersecurty at UNCC. I joined the 
                    CareerSift team in the fall of 2024 
                    with my fellow co-founders. Together 
                    we have applied concepts of software 
                    engineering and product development 
                    to bring you CareerSift!</p>
                <a href="https://www.linkedin.com/in/owen-hartzell-08208427a/" target="_blank"><img class="linkedin" src="/static/linkedin.svg" alt="linkedin"></a>
            </li>
        </ul>
    </body>
</html>