{% include "navbar.html" %}
        <table class="compare">
            <div class="listing-nav">
                <a href="{{url_for('saved')}}"><img class="arrow" src="/static/LeftArrow.png" alt="Go Back" width="30px" height="30px"></a>
            </div>
            <tr>
                <th colspan="5" class="bold">Compare:</th>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            <tr>
                <th>Job Title:</th>
                <th>Employer:</th>
                <th>Position:</th>
                <th>Salary:</th>
            </tr>
            <tr><td colspan="5"><hr></td></tr>
            {% for job in jobs %}
            <tr>
                <td>{{ job[1] }}</td>
                <td>{{ job[2] }} </td>
                <td>{{ job[4] }}</td>
                <td>{{ job[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>