<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CareerSift - Your Job and Internship Finding Website for Charlotte!</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-back">
            <nav class = "nav-content">
                <a href="index.html"><img src="/static/CS-logo.png" alt="Career-Sift" width="100px" height="66px"></a>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('saved') }}">Saved</a></li> <!-- only if logged in -->
                    {% endif %}
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('logout') }}"class="but LI">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"class="but LI">Log in</a></li> <!-- only if logged out -->
                    {% endif %}
                    <!-- <li><a href="register.html"class="but REG">Register</a></li> maybe if either of these are clicked it goes to their respective one? -->
                    <li><a href="{{ url_for('settings') }}"><img class="contact-chip" src="/static/JakePic.jpg" width="50px" height="50px"></a></li>
                </ul>
            </nav>
            <hr>
        </div>
        <div class="support">
            <h1>Support & Contact</h1>
            <div>
                <h2>Need help with your account?</h2>
                <h4>Please contact us here using the email linked to the account</h4>
                <a href="mailto:akerns3@uncc.edu"><button>Email support@careersift.com</button></a>
                <h2>Have any questions or concerns?</h2>
                <form method="POST" action="{{ url_for('contact') }}">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" placeholder="you@example.com" required>
                    <br><br>
                    <label for="issue">Issue:</label>
                    <textarea id="issue" name="issue" placeholder="Describe your issue" required></textarea>
                    <br><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
<!--Finished-->