{% include "navbar.html" %}
        <div class="listing">
            <!--Listing info-->
            <div class="listing-nav">
                <a href="{{ url_for('index') }}"><img class="arrow" src="/static/LeftArrow.png" alt="Go Back" width="20px" height="20px"></a>
                <img class="job-source" src="/static/IndeedIcon.svg" alt="From Snagajob" width="20px" height="20px">
            </div>
            <h2>{{ listing[1] }}</h2>
            <p>{{ listing[2] }}</p>
            <hr>
            <p>{{ listing[7] }}</p>
            <hr>
            <div class="job-info">
                <p>{{ listing[3] }}</p>
                <p>Location</p>
                <p>{{ listing[4] }}</p>
            </div>
            <a href="{{ listing.sourceLink }}"><button>Apply</button></a> <!-- goes to google-->
        </div>
    </body>
</html>
<!--Finished-->