<!--
ABOUT
Author: Adam Kerns
Co-Author: Owen Hartzell 801188721 ohartzel@charlotte.edu
For: ITSC 3155, Software Engineering, Fall 2024
Project: Final Project - Group 9, "CareerSift"
-->

{% include "navbar.html" %}
        <div class="auth-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="'alert-containter">
                        {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message}}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="login">
                <form method="POST" action="{{ url_for('login') }}">
                    <h2 class="auth-title">Log In</h2>
                    <label for="login-username">Username</label>
                    <input type="text" placeholder="Username" id="login-username" name="username"><br>
                    {% for error in form.username.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    <label for="login-password">Password</label>
                    <input type="password" placeholder="Password" id="login-password" name="password"><br>
                    {% for error in form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="register.html">Register</a></p>
            </div>
        </div>
    </body>
</html>