<!--Include navbar-->
<h1>LOGIN/REGISTER</h1>
<div>
    <div class="login">
        <!--Login form-->
        <form>
            <label class="LI_Reg_title">Log In</label><br>
            <label for="email">Email</label>
            <input type="text" placeholder="Email" id="email" name="email"><br>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password"><br>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="login-register.html">Register</a></p> <!-- go to the register view of this page-->
    </div>
</div>