<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CareerSift - Your Job and Internship Finding Website for Charlotte!</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-wrap">
            <!--<img class = "nav-back" src = "/Images/BlurredWorkplace.jpg" alt = "Background">-->
            <nav class = "nav-content">
                <a href="index.html"><img src="/Images/CS-logo.png" alt="Career-Sift" width="150px" height="100px"></a>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="saved.html">Saved</a></li> <!-- only if logged in -->
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="login-register.html"><button type="button" class="but LI">Log in</button></a></li> <!-- only if logged out -->
                    <li><a href="login-register.html"><button type="button" class="but REG">Register</button></a></li> <!-- maybe if either of these are clicked it goes to their respective one? -->
                    <li><a href="https://www.google.com/search?q=jake+gilbert&sca_esv=5c8da1462f10d2e2&source=hp&ei=gAooZ6mlOO_6wbkPwZXroQo&iflsig=AL9hbdgAAAAAZygYkNsZ6TxCFNWBfwM7K9VzCGPeaP0h&ved=0ahUKEwip5ZbSq8GJAxVvfTABHcHKOqQQ4dUDCBk&uact=5&oq=jake+gilbert&gs_lp=Egdnd3Mtd2l6GgIYAiIMamFrZSBnaWxiZXJ0MgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABEjoKFD-BVjhJXABeACQAQCYAZwBoAHBB6oBBDExLjG4AQPIAQD4AQGYAg2gAt4HqAIKwgIQEAAYAxjlAhjqAhiMAxiPAcICEBAuGAMY5QIY6gIYjAMYjwHCAg4QLhiABBixAxiDARiKBcICCxAuGIAEGNEDGMcBwgILEC4YgAQYsQMY1ALCAggQLhiABBixA8ICERAuGIAEGLEDGNEDGIMBGMcBwgILEC4YgAQYsQMYgwHCAg4QABiABBixAxiDARiKBcICERAAGIAEGLEDGIMBGIoFGIsDwgIFEC4YgATCAggQABiABBixA8ICCxAAGIAEGLEDGIMBwgIKEC4YgAQYsQMYCsICBxAAGIAEGArCAgoQABiABBixAxgKwgILEC4YgAQYxwEYrwGYAwaSBwQxMi4xoAenowE&sclient=gws-wiz"><img class="contact-chip" src="/Images/JakePic.jpg" width="20" height="20"></a></li>
                    <!--for now this links to jake and only jake-->
                </ul>
            </nav>
            <hr>
        </div>
    </body>
</html>