<!--
ABOUT
Author: Adam Kerns
Co-Author: Owen Hartzell 801188721 ohartzel@charlotte.edu
For: ITSC 3155, Software Engineering, Fall 2024
Project: Final Project - Group 9, "CareerSift"
-->

{% include "navbar.html" %}
        <div class="auth-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="'alert-containter">
                        {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message}}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="register">
                <form method="POST" action="{{ url_for('register') }}">
                    <h2 class="auth-title">Register</h2>
                    <label for="register-username">Username</label>
                    <input type="text" placeholder="Username" id="register-username" name="username"><br>
                    <label for="register-password">Password</label>
                    <input type="password" placeholder="Password" id="register-password" name="password"><br>
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" id="confirm-password" name="confirmPassword"><br>
                    <label for="email-checkbox">Link email for job notifications?</label>
                    <input type="checkbox" id="email-checkbox" name="notifications"><br>
                    <label for="register-email" id="email-label">Email</label>
                    <input type="email" placeholder="example@gmail.com" id="register-email" name="email"><br>
                    <button type="submit">Register</button>
                </form>
                <p>Already have an account? <a href="login.html">Log in</a></p>
                {% autoescape false %}
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const emailCheckbox = document.getElementById("email-checkbox");
                        const emailField = document.getElementById("register-email");
                        const emailLabel = document.getElementById("email-label");
                        emailField.classList.add("hidden");
                        emailLabel.classList.add("hidden");
                        console.log("loaded");
                        emailCheckbox.addEventListener("change", () => {
                            console.log(emailCheckbox.checked ? "Checked" : "not checked");
                            emailField.classList.toggle("hidden", !emailCheckbox.checked);
                            emailLabel.classList.toggle("hidden", !emailCheckbox.checked);
                        });
                    });
                </script>
                {% endautoescape %}
            </div>
        </div>
    </body>
</html>