<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CareerSift - Your Job and Internship Finding Website for Charlotte!</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-back">
            <nav class = "nav-content">
                <a href="index.html"><img src="/static/CS-logo.png" alt="Career-Sift" width="100px" height="66px"></a>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('saved') }}">Saved</a></li> <!-- only if logged in -->
                    {% endif %}
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('logout') }}"class="but LI">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"class="but LI">Log in</a></li> <!-- only if logged out -->
                    {% endif %}
                    <!-- <li><a href="register.html"class="but REG">Register</a></li> maybe if either of these are clicked it goes to their respective one? -->
                    <li><a href="{{ url_for('settings') }}"><img class="contact-chip" src="/static/JakePic.jpg" width="50px" height="50px"></a></li>
                </ul>
            </nav>  
        </div>
        <hr>
        <div class="auth-container">
            <div class="register">
                <form method="POST" action="{{ url_for('register') }}">
                    <h2 class="auth-title">Register</h2>
                    <label for="register-username">Username</label>
                    <input type="text" placeholder="Username" id="register-username" name="username"><br>
                    <label for="register-password">Password</label>
                    <input type="password" placeholder="Password" id="register-password" name="password"><br>
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" id="confirm-password" name="confirmPassword"><br>
                    <label for="email-checkbox">Link email for job notifications?</label>
                    <input type="checkbox" id="email-checkbox" name="notifications"><br>
                    <label for="register-email" id="email-label">Email</label>
                    <input type="email" placeholder="example@gmail.com" id="register-email" name="email"><br>
                    <button type="submit">Register</button>
                </form>
                <p>Already have an account? <a href="login.html">Log in</a></p>
            </div>
        </div>
    </body>
</html>

