<!--
ABOUT
Author: Adam Kerns
Co-Author: Owen Hartzell 801188721 ohartzel@charlotte.edu
For: ITSC 3155, Software Engineering, Fall 2024
Project: Final Project - Group 9, "CareerSift"
-->

{% include "navbar.html" %}
        <div class="listing">
            <div class="listing-nav">
                <a href="{{ url_for('saved') }}"><img class="arrow" src="/static/LeftArrow.png" alt="Go Back" width="20px" height="20px"></a>
                <img class="job-source" src="/static/IndeedIcon.svg" alt="From Snagajob" width="20px" height="20px">
            </div>
            <h2>{{ listing[1] }}</h2>
            <p>{{ listing[2] }}</p>
            <hr>
            <p>{{ listing[7] }}</p>
            <hr>
            <div class="job-info">
                <p>{{ listing[3] }}</p>
                <p>{{ listing[4] }}</p>
            </div>
            <a href="{{ listing[6] }}"><button>Apply</button></a>
        </div>
    </body>
</html>