<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CareerSift - Your Job and Internship Finding Website for Charlotte!</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-back">
            <nav class = "nav-content">
                <a href="index.html"><img src="/static/CS-logo.png" alt="Career-Sift" width="100px" height="66px"></a>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="saved.html">Saved</a></li> <!-- only if logged in -->
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="login.html"class="but LI">Log in</a></li> <!-- only if logged out -->
                    <li><a href="register.html"class="but REG">Register</a></li> <!-- maybe if either of these are clicked it goes to their respective one? -->
                    <li><a href="settings.html"><img class="contact-chip" src="/static/JakePic.jpg" width="50px" height="50px"></a></li>
                </ul>
            </nav>
            <hr>
        </div>
        <h1>SETTINGS</h1>
    </body>
</html>

<!--Finish formatting-->