{% include "navbar.html" %}

        <div class="support">
            <h1>Support & Contact</h1>
            <div>
                <h2>Thank you for contacting our team!</h2>
                <h2>We will respond to your ticket within 48 hours</h2>
                <h2>Have any more questions or concerns?</h2>
                <a href="mailto:akerns3@uncc.edu"><button>Email support@careersift.com</button></a>
                </form>
            </div>
        </div>
    </body>
</html>
<!--Finished-->