/* do something with .contact-chip */

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v18/UcCm3FwrK3iLTcvnUwQT9mI1F54.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --silver: #B7B5B3;
    --bler: rgb(181, 209, 234);
    --bluer-bler: #4E6766;
    --dark-purple: #2A1F2D;
    --lime: #07B900;
    --dark: #2C2C2C;
    --darkgrey: #767676;
    --font: "Inter", sans-serif;
}

.nav-back {
    background-image: url(/Images/BlurredWorkplace.jpg);
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: overlay;
    background-size: 100%;
    height: 95px;
}

.contact-chip {
    border: 2px solid var(--dark);
}

.nav-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 35px; 
    flex-wrap: wrap;
}

.nav-content ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

li a img {
    border-radius: 8px;
}

li a {
    text-decoration: none;
    color: var(--dark);
    padding: 10px;
    vertical-align: middle;
}

li a:hover {
    text-decoration-style: solid;
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
    background-color: #4E6766;
}

body {
    background-color: var(--bler);
    height: 1000px; /*change this*/
    font-family: var(--font);
    font-weight: 300;
}

.but {
    border-radius: 8px;
    border-style: solid;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1; 
    vertical-align: middle; 
}

.LI {
    background-color: var(--silver);
    border-color: var(--dark);
}

.REG {
   background-color: var(--silver); 
   border-color: var(--dark);
}

.listing {
    background-color: white;
    border-radius: 8px;
    margin: 5% 15%;
    text-align: center;
    padding: 10px 20px;
}

.listing hr {
    width: 85%;
    color: #4E6766;
}

.job-info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 30%;
}

.listing .job-source {
    display: block;
    margin-left: auto;
    padding: 5px 5px;
}

.listing-nav {
    display: flex;
    margin-right: auto;
    padding: 5px 5px;
}

.compare {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
}

.compare .bold {
    font-weight: 800;
}

.compare th, td {
    padding: 10px 20px; 
}

.support {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    width: 75%;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid black;
}

.login, .register {
    background-color: white;
    border-radius: 8px;
    width: 75%;
    margin: 5% auto;
    padding: 5px;
}

.login form label, .register form label {
    padding-bottom: 10px;
}

.main-container {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.filters {
    width: 15%;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}

h3, h5 {
    text-align: center;
}

.filters hr {
    width: 50%;
}

.amt {
    text-align: center;
}

.search-cards {
    width: 75%;
    margin: 0 auto;
}

.search {
    background-color:rgb(160, 174, 193);
    border: 1px solid var(--bluer-bler);
    border-radius: 50px;
    width: 50%;
    height: 10%;
    color: var(--bluer-bler);
    text-align: center;
    background-image: url(/Images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 2.5%;
    margin: 0 25%;
}

.search::placeholder {
    color: var(--bluer-bler);
    font-size: 150%;
    text-align: center;
}

a:visited, a  {
    text-decoration: none;
    color: var(--bluer-bler);
}

a hr {
    width: 50%;
}

.card-info {
    display: flex;
    flex-direction: row;
    gap: 15%;
    flex-wrap: wrap;
    padding-left: 17.5%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding-left: 3%;
}

.card {
    background-color: white;
    text-align: center;
    width: 45%;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 40px;
}

.star {
    width: 20px;
    height: 20px;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    z-index: 10;
}

input[type=checkbox] {
    margin: 20px 30px;
}

input[type=range] {
    margin-left: 17.5%;
}